<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Demo Enkripsi UID</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Cari data karyawan</h1>
        <p>Masukkan ID karyawan</p>
        <form action="/encrypt" method="get">
            <input type="text" name="id" placeholder="Masukkan ID, contoh: 12345" required>
            <button type="submit">cari</button>
        </form>
    </div>
</body>
</html>
